<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <bean class="com.offsidegaming.monitoringapplication.rest.MonitoringApplicationRest">
        <constructor-arg ref="submitFacade"/>
        <constructor-arg ref="historyFacade"/>
    </bean>

    <bean id="submitService"
          class="com.offsidegaming.monitoringapplication.services.submitting.MeasurementSubmitServiceImpl">
        <constructor-arg ref="measurementDao"/>
        <constructor-arg ref="sessionContext"/>
    </bean>

    <bean id="historyService" class="com.offsidegaming.monitoringapplication.services.history.MeasurementHistoryServiceImpl">
        <constructor-arg ref="measurementDao"/>
        <constructor-arg ref="sessionContext"/>
    </bean>

    <bean id="measurementDao" class="com.offsidegaming.monitoringapplication.dao.MeasurementDaoImpl"/>

    <bean id="sessionContext" class="com.offsidegaming.monitoringapplication.services.session.SessionContextStub"/>

    <bean id="submitFacade" class="com.offsidegaming.monitoringapplication.facades.SubmittingProcessFacade">
        <constructor-arg ref="submitService"/>
    </bean>

    <bean id="historyFacade" class="com.offsidegaming.monitoringapplication.facades.HistoryProcessFacade">
        <constructor-arg ref="historyService"/>
    </bean>

    <bean id="filter" class="com.offsidegaming.monitoringapplication.rest.filter.MonitoringApplicationFilter"/>

    <jdbc:embedded-database id="dataSource" type="HSQL">
        <jdbc:script location="classpath:db/sql/create-table.sql"/>
        <jdbc:script location="classpath:db/sql/insert-data.sql"/>
    </jdbc:embedded-database>
</beans>